<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="javaweb.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="javaweb.entity.AccountEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="qtalk" jdbcType="VARCHAR" property="qtalk"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="available" jdbcType="TINYINT" property="available"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, qtalk, name, available, create_time, create_user, update_time, update_user
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from account
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="javaweb.entity.AccountEntity">
        insert into account (id, qtalk, name,
        available, create_time, create_user,
        update_time, update_user)
        values (#{id,jdbcType=INTEGER}, #{qtalk,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{available,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="javaweb.entity.AccountEntity">
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="qtalk != null">
                qtalk,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="available != null">
                available,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="qtalk != null">
                #{qtalk,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                #{available,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="javaweb.entity.AccountEntity">
        update account
        <set>
            <if test="qtalk != null">
                qtalk = #{qtalk,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="available != null">
                available = #{available,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="javaweb.entity.AccountEntity">
        update account
        set qtalk = #{qtalk,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        available = #{available,jdbcType=TINYINT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_user = #{createUser,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_user = #{updateUser,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>